<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="global_container">
      <header class="header">
        <div class="header_container">
          <div class="header_left">
            <div class="logo_container">
              <img src="../public/nodejs-logo.png" alt="node" />
            </div>
          </div>
          <div class="header_right">
            <a href="/">Home</a>
            <a href="/leave-message">Leave a message</a>
            <a href="/read-message">Read messages</a>
          </div>
        </div>
      </header>

      <div class="container">
        <h1 class="error-message">404 Error!!! Page NOT Found</h1>
        <button class="btn"><a href="/">Back to Home</a></button>
      </div>

      <div class="footer">
        <div class="footer_container">
          <p>Tatsuma &copy;</p>
        </div>
      </div>
    </div>
  </body>
</html>
