<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="global_container">
      <header class="header">
        <div class="header__container">
          <div class="header__left">
            <div class="logo__container">
              <img src="nodejs-logo.png" alt="node" />
            </div>
          </div>
          <div class="header__right">
            <ul class="header__links">
              <li class="header__link">
                <a href="/">Home</a>
              </li>
              <li class="header__link">
                <a href="/leave-message">Leave a message</a>
              </li>
              <li class="header__link">
                <a href="/read-message">Read messages</a>
              </li>
            </ul>
          </div>
        </div>
      </header>

      <div class="container">
        <div class="message">
          <div class="message__container">
            <h2>Your messages</h2>
            <ul class="message__list">
              <% for (let i = 0; i < messages.length; i++){ %>

              <li class="message__item">
                <span><%= i+1 %>--</span>
                <%= messages[i].message %>
              </li>

              <% } %>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer">
        <div class="footer__container">
          <p class="footer__text">Tatsuma &copy;</p>
        </div>
      </div>
    </div>
  </body>
</html>
